body {
  font-family:'Courier New', Courier, monospace;
  /* background-color: #fefae0; */
  padding: 30px;
  background-image: url('https://e0.pxfuel.com/wallpapers/261/446/desktop-wallpaper-kyoto-japan-street-pagodas-temple-evening-cities-japanese-kyoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff !important;
   background-attachment: fixed;
   font-size:larger;
  
}
.head{
     display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5); /* optional: gives it a dark translucent bar */
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.div-img{
  /* border-bottom-left-radius: 30px ;
  border-top-right-radius: 30px; */
  border-radius: 30px;
  width: 300px; height: 250px;
}

button {
    border-color: rgba(199, 242, 247, 0.4) ;
    border-radius: 10px !important;
    padding: 8px 8px;
     color: azure;
    background-color:rgba(171, 245, 234, 0.4); 
    font-size: 18px !important;
    cursor: pointer;
    
}

.demo{
    margin: 50px;
    color:white;
    background-color: rgba(0,0,0, 0.6); 
    padding: 50px;
    font-size: 20px;
    border-radius: 20px;
    line-height: 1.6; 
    

}



